//---------------------------------------------------------
// Miscallaneous Mixins specific to the Shropgeek website


@mixin screen-borders {
	@media screen and (min-width: $lap-start) {
		/* 481px color: Yellow */
		border: solid 5px #ffcc00;
	}

	@media screen and (min-width: $tab-start) {
		/* 754px color: Green */
		border: solid 5px #33cc33;
	}

	@media screen and (min-width: $desk-start) {
		/* 1024px color: Red */
		border: solid 5px #ff0000;
	}

	@media screen and (min-width: $desk-wide-start) {
		/* 1200px Color: Blue */
		border: solid 5px #0000ff; 
	}
}

@mixin hide-text{
    overflow:hidden;
    text-indent:-9000px;
    
}

@mixin bg-images { 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}

@mixin transition {
	-webkit-transition: .4s all ease;
	-moz-transition: .4s all ease;
	-o-transition: .4s all ease;
	-ms-transition: .4s all ease;
	transition: .4s all ease;
}

/*
-moz-transition:all 200ms linear;
-o-transition:all 200ms linear;
-webkit-transition:all 200ms linear;
transition:all 200ms linear;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
*/

@mixin transform {
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}