@import "bootstrap/bootstrap.scss";
@import "partials/wordpress";
@import "partials/fancybox";
@import "partials/mymixins";



body {
	//@include screen-borders;
	height: auto;
	font-family: $font-family-sans-serif;
}


#wrapper {
	//margin-top: 70px;
}

.display_none {
  position: absolute;
  left: -999px;
  display: none; }

.access {
  position: absolute;
  left: -999px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  background: #000; }

.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.access p, .access a, .access li, .access h1, .access h2, .access h3, .access h4 {
  color: #fff; }

//---------------------------------------------------------
//---------------------------------------------------------
// General Utility Stuff

.seperator { height: 0; clear: both; }


.pt { /* Padding Top */
	padding-top: 1.5em; 

	} 

.pb { /* Padding Bottom */
	padding-bottom: 1em; 
	} 

.pl { /* Padding Left */
	padding-left: 1em; 
	}

.pr { /* Padding Right */
	padding-right: 1em; 
	} 

.ptb { /* Padding Top & Bottom */
	padding-top: 1em; 
	padding-bottom: 1em; 
	} 

.plr { /* Padding Left & Right */
	padding-left: 1em; 
	padding-right: 1em; 
	} 

.ptrbl { /* Padding Top, Right, Bottom, Left */
	padding: 1em; 
	} 

.border-top { 
	border-top: solid 1px $gray_76; 
	padding-top: 1em; 
}

.border-bottom { 
	border-bottom: solid 1px $gray_76; 
	padding-bottom: 0.5em; 
	margin-bottom: 0.5em;

	@media screen and (min-width: $screen-sm) {
		margin-bottom: 1.5em;
	}	

}

.mt { /* margin Top */
	margin-top: 1.5em; 

	} 

.mb { /* margin Bottom */
	margin-bottom: 1em; 
	} 

.ml { /* margin Left */
	margin-left: 1em; 
	}

.mr { /* margin Right */
	margin-right: 1em; 
	} 

.mtb { /* margin Top & Bottom */
	margin-top: 1em; 
	margin-bottom: 1em; 
	} 

.mlr { /* margin Left & Right */
	margin-left: 1em; 
	margin-right: 1em; 
	} 

.mtrbl { /* margin Top, Right, Bottom, Left */
	margin: 1em; 
	} 


.mobile-display-none {
	display: none;

	@media screen and (min-width: $grid-float-breakpoint) {
		display: inline-block;
	}
}

.mobTab-display-none {
	display: none;

	@media screen and (min-width: $screen-md) {
		display: inline-block;
	}
}

.desktop-display-none {
	display: block;

	@media screen and (min-width: $grid-float-breakpoint) {
		display: none;
	}
}

.opacity-zero{
	opacity: 0;
	display: none;

	@media screen and (min-width: $screen-sm) {
		display: block;
	}
}

.btn {
	padding: 3px 12px!important;
	border-radius: 0;
}
//------------------------------------------------------------------------------------------
//---------------------------------------------------------
//---------------------------------------------------------
// Header Area



.site-header { 
	position: relative;
	width: 100%;
	z-index: 500;
	background-color: transparent;

	.site-navigation {
		background-color: $white;
		width: 100%; 
		margin-bottom: 10px!important;

		@media screen and (min-width: $screen-sm) {
			top: 0;
		}

		.navbar-header {

			//border-bottom: solid 1px $gray_76;

			@media screen and (min-width: $screen-sm) {
				position: relative;
				float: right;
				left: auto;
			}

			@media screen and (min-width: $screen-md) {
				border-bottom: none;
			}

			// Mostly cancels out button styles
			.navbar-toggle {
				background-color: $gray_76;
				border: none;
				color: $white;
				float: none;
				border-radius: 0;
				width: 100%;
				margin-bottom: 0;

				&:hover {
					background-color: $gray_20;
				}
			}
		}

	}

	@media screen and (min-width: $screen-sm) {	}

}

.logo-container {
	background: transparent;
	margin: 0;
	width: 100%;
	display: none;

	@media screen and (min-width: $screen-xs) {
		width: auto;
		margin: 20px 0;
	}

	@media screen and (min-width: $grid-float-breakpoint) {
		display: block;
	}


	>h1.logo {
		    background: url('../../assets/img/olivine-logo.jpg') center no-repeat; 
		 	height:99px;
		    width:270px;

	    margin: 0 auto;
	    display:block;
	    @include hide-text;

	    @media screen and (min-width: $screen-sm) {
	    	float: left;
	    	margin-top: 0.2em;
	    }

	    @media screen and (min-width: $screen-md) {



	    }

	    >a { 
	    	display: block; 
	    	width: 100%; 
	    	height: 100%;
	    	position: relative;
	    	z-index: 10;
	    }
	}

	>h2 { 
		margin-top: 0.1em; 
		font-family: $font-family-serif;
		font-style: italic;
		font-size: 20px;
		text-align: center;

		@media screen and (min-width: $screen-sm) {
			text-align: left;
			margin-top: 1.8em; 

		}

		@media screen and (min-width: $screen-md) {
			font-size: 37px;
			margin-top: 0.55em; 
		}
	}

	// On mobile devices show the white logo in the nav bar and not below
	&.mobile {

		display: block;
		
		margin: 8px auto 0 auto;
		width: auto;

		>h1.logo {
		  	background: url('../../assets/img/olivine-logo.jpg') center no-repeat; 
		  	background-size: 146px;
		 	height:50px;
		    width:146px;
		    // float: left;
		    //padding-bottom: 10px;
		}

		@media screen and (min-width: $grid-float-breakpoint) {
			display: none;
		}

	} 

}

.product-search {

	top: 6px!important;
	left: auto!important;
	width: 175px;
	margin: 0 auto; 

	@media screen and (min-width: $screen-md) {
		float: right;
		clear: right;
	}

	input[type="text"].product-search-field { 
		width: 80%!important; 
		font-size: $font-size-small;
		padding: 0.2em 0.5em 0.1em 0.5em;
	}

	button { 
		width: 16%; 
		color: $white;
		border: none;
		border-radius: 0!important;
		padding-top: 0.2em;
		text-indent: -9999px;
		background: $gray_46 url(../img/search.png) no-repeat center;
			
		&:hover { 
			background-color: $gray_20;
		}

	}

	.product-search-results {
		.entry {
			td.product-image {
				.thumbnail { margin-bottom: 0; }
			}
			td.category-info,
			td.product-info {
				a { color: $gray_46; text-transform: capitalize; font-size: $font-size-small; }
			}
		}
	}
}

//---------------------------------------------------------
//---------------------------------------------------------
// Utility nav - i.e. login

.utility-nav-container {
	
	width: 100%;
	
	position: relative;

	@media screen and (min-width: $grid-float-breakpoint) {
		float: right;
		width: auto;
		clear: left;
		margin-top: 20px;
	}

	
	.utility-menu {
		
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		text-align: center;

		@media screen and (min-width: $grid-float-breakpoint) {
			float: right;
			clear: right;
		}


		li {
			display: inline-block;
			
			font-size: $font-size-small;
			margin-left: 5px;

			@media screen and (min-width: $screen-md) {
				display: block;
				float: left;
			}

			&:first-child {  }


			p {
				margin: 0;
				padding: 0;
				display: inline;
			}


			a {
				padding: 0;

				
			}

			ul.cart_dropdown { 
				
				margin: 0;
				padding: 0;

				@media screen and (min-width: $grid-float-breakpoint) {
					float: left;
				}
			}
		}
	}


	ul.buttons {

		
		padding: 0;
		width: 100%;
		text-align: center;

		@media screen and (min-width: $grid-float-breakpoint) {
			margin: 20px auto 10px auto;
		}

		li { 
			display: inline-block; 
			text-align: center;

			a {
				text-transform: uppercase;
				font-size: $font-size-small;
				color: $gray_46;
				font-weight: 600;

				&:hover {
					color: $gray_20; 
				}

				&.sign-in {
					background-color: $gray_46;
					color: $white;
					border-radius: 0!important;
					padding: 2px 12px;
					margin-left: 5px;

					&:hover { 
						background-color: $gray_20;
					}
				}



			}
		}
	}
}

//------------------------------------------
// Additional Sitenav stuff

.site-navigation {

	.navbar-container {
		@media screen and (min-width: $screen-md) {
			border-bottom: solid 1px $gray_76;
		}


		nav.widgetized-nav {
			.main-nav {
				.sub-menu.non-wgt-menu li > a {
					color: $gray_20!important;
				}
			}
		}

	}


/*
	.navbar-collapse {
		
		@media screen and (min-width: $screen-sm) {
			padding-left: 0!important;
			padding-right: 0!important;
		}

		@media screen and (min-width: $screen-md) {
			border-bottom: solid 1px $gray_76;
		}

		.navbar-nav {
			> li {
				> a {
					text-transform: uppercase;
					font-weight: bold;
					border-bottom: solid 1px $gray_76;

					@media screen and (min-width: $screen-md) {
						border-bottom: none;
					}
						
				}

				@media screen and (min-width: $screen-md) {

					&:first-child { 
						> a { 
							padding-left: 0; 
						}
					}

				}
			}
		}
	}

	*/
}



//-------------------------------------------------------------------------
//-------------------------------------------------------------------------
// Homepage Stuff

.carousel {

	.carousel-content {
		position: absolute;
		z-index: 50;
		width: 70%;
		left: 15%;
		top:15%;
		display: inline-block;
		text-align: center;


		@media screen and (min-width: $screen-sm) {
			top:22.5%;
		}

		@media screen and (min-width: $screen-md) {
			top:30%;
		}

		h1 { 
			
			text-align: center;
			text-transform: uppercase;
			font-size: 30px;
			line-height: 35px;
			margin-bottom: 15px;

			&.black { color: $black; }
			&.white { color:  $white; }

			@media screen and (min-width: $screen-sm) {
				font-size: 50px;
				line-height: 55px;
				margin-bottom: 35px;

			}

			@media screen and (min-width: $screen-md) {
				font-size: 65px;
				line-height: 75px;
				margin-bottom: 50px;
			}
		}
		
		.btn { 
			display: inline-block;
			margin: 0 auto;
			font-weight: 700;
			background: $white;
			color: $brand-primary;
			text-transform: uppercase;

			&:hover {
				background-color: $gray_20;
				color: $white;
			}
		}
	}
}

.steps {
	border-top: solid 1px $gray_76;
	border-bottom: solid 1px $gray_76;
	margin: 1em 0;
	padding: 1em 0;

	.step {
		border-bottom: solid 1px $gray_76;
		&:last-child { border: none; }

		@media screen and (min-width: $screen-md) {
			border-bottom: none;
			border-right: solid 1px $gray_76;
			&:last-child { border: none; }
		}
	}

	.number {
		display: block;
		float: left;
		font-size: $font-size-h1;
		color: $olivine-gold;
		padding: 0 0.5em;
	}

	.text {
		display: block;
		padding-top: 10px;
	}

}

.three-boxes {

	padding-bottom: 15px;
	@media screen and (min-width: $screen-md) {
		padding-bottom: 0;
	}

	.box-col {

		position:relative;

		@media screen and (min-width: $screen-md) {
			&:last-child {
				padding-left: 0;
			}
		}

		.position-1,
		.position-2,
		.position-3 {

			position: relative;
			text-align: center;

			img { 
				
				width: 100%; 
				max-width: 570px;
			}

			h1 { 
				text-transform: uppercase;
				text-align: center;
				font-size: 20px;
				line-height: 25px;
				width: 65%;
				height: 30%;
				overflow: auto;
				margin: auto;
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;

				&.black { color: $black; }
				&.white { color:  $white; }

				@media screen and (min-width: $screen-sm) {
					font-size: 30px;
					line-height: 35px;

				}

				@media screen and (min-width: $screen-md) {
					font-size: 40px;
					line-height: 45px;
				}

				@media screen and (min-width: $screen-lg) {
					font-size: 50px;
					line-height: 55px;
				}
			}
		
		}

		.position-1 {
			padding-bottom: 15px;
		}
		.position-2 {
			padding-bottom: 15px;
		}
	}
}

//-------------------------------------------------------------------------
//-------------------------------------------------------------------------
// Extra Pagination Stuff

.sb-infinite-scroll-load-more {
	a {
		background-color: $brand-primary;
		color: $white;
		border: none!important;
		margin-bottom: 2em!important;
		padding: 0.5em 1em!important;

		&:hover { background-color: $gray_20; }
	}
}

//-------------------------------------------------------------------------
//-------------------------------------------------------------------------
// Footer Stuff

.site-footer {
	//background: $white_smoke;
	text-align: center;

	@media screen and (min-width: $screen-sm) {
		text-align: left;
	}

	.border-top { border-top: solid 1px $gray_76; }

.widget-area.third {

	@media screen and (min-width: $screen-sm) {
		padding-top: 1em;
		margin-top: 2em;
		border-top: solid 1px $white;

		.widget { 
			float: left;
			width: 48%;

			&:nth-child(2) { 
				margin-left: 4%; 
			}
		}
	}

	@media screen and (min-width: $screen-md) {
		padding-top: 0;
		margin-top: 0;
		border-top: none;

		.widget { 
			float: none;
			width: 100%;

			&:nth-child(2) { 
				margin-left: 0; 
			}
		}
	}
}

	.widget {

		h3 { 
			text-transform: uppercase;
			font-weight: 600;
			font-size: $font-size-base;
			margin-top: 40px;

			@media screen and (min-width: $screen-md) {
				margin-top: 20px;
			}
		}

		.menu {
			list-style-type: none;
			margin: 0;
			padding: 0;

			a {
				color: $gray_46;
				display: block;
				padding: 0.25em 0;

				&:hover { color: $gray_20; }
			}
		}

		input[type=text] { font-size: $font-size-small!important; padding: 0.3em 0.5em 0.4em; }

		.gform_button {
			background: $gray_46;
			color: $white;
			border: none;
			width: 97.5%;
			padding: 0.3em 0.5em;
			white-space: nowrap;
		    font-size: 14px;
		    line-height: 1.42857;
			float: none!important;
			margin: 0!important;
			text-transform: uppercase;

			&:hover {
				background-color: $gray_20;
				color: $white;
			}
		}


	}



}

.credits {

	
	width: 100%;
	height: auto;

	.container {
		

		p {
			border-top: solid 1px $gray_76;
			font-size: $font-size-small;
			display: inline;
			margin: 0.75em 0;
			padding-top: 0.75em;
			width: 100%;

		}

		&.alignleft {
			text-align: left;
			float: left;
		}


		&.alignright {
			text-align: right;
			float: right;
		}

		a {
		    //background: url('../img/star.png') no-repeat top left;
		    color: $gray_20;
		    padding: 0.5em 0 0.5em 1.65em;
		    text-decoration: none;

	    	&:hover {}

		}
	}

}



//---------------------------------------------------------
//---------------------------------------------------------
// Social icons

.social {
    list-style-type: none;
    margin: .5em auto 1em auto;
    padding:0;



    >li {
        display: inline-block;



        >a {
            float: left;
            font-size: 28px; 
            color: $gray_46;
            padding: 15px 0 0 10px;
            line-height: .7;

            &:hover {
                color: $gray_20;
            }

        }
    }

    @media screen and (min-width: $screen-md) {
        float: left;
        clear: left;
        text-align: right;
        margin: 1em auto 0 auto;

        >li {
            >a {
            
   
                padding: 0 0 0 10px;
                line-height: inherit;

            }
        }
    }
}



/* Go to top ------------------------------------*/
.scrollup {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    display: none;
    border-radius: 50%;
    z-index: 5000;
    text-decoration: none;
    opacity: 0.5;
}

.scrollup i {
    text-align: center;
    display: block;
    line-height: 52px;
    font-size: 20px; font-size: 1.3rem;
}

.scrollup:hover { 
    opacity: 1;
}

.scrollup:hover i {
        
} 